#img1 { 
    
    display: inline-block;
}
#img2  { 
        display: inline-block;
    }
#img3 {
    display: inline-block;
    
}
#img4 { 
    display: inline-block;
    
}
#img5 {
     display: inline-block;
   
}
#img6 
   {
    display: inline-block;
   }
   img{
    width: 170.92px;
    height: 230px;
    
}

